:root {
  --red: #d32f2f;
  --white: #ffffff;
}

.select-box {
  width: 100% !important;
  background-color: var(--white);
}

.error .MuiOutlinedInput-notchedOutline,
.error:hover .MuiOutlinedInput-notchedOutline,
.error.Mui-focused .MuiOutlinedInput-notchedOutline{
  border-color: var(--red);
}

.rfc-helper-text {
  color: var(--red) !important;
}
